$primary-color: #272727;
$accent-color: #d64810;
$text-color: #fff;
// Map = array of options - access with map-get(name, key)
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
$mobile: 800px;
